html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(25, 118, 210);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 108, 200);
}